@{
    Layout = null;
}

<div id="BackgroundCollection">
    <img class="backgroundContain" id="background" alt="" src="/Content/Resources/Backgrounds/background.jpg" border="1" width="150" height="137" title="MainContent" />

    <img class="backgroundContain" id="bg2large" alt="" class="draggable" src="/Content/Resources/Backgrounds/bg2large.jpg" border="1" width="150" height="137" title="MainContent" />
</div>
