@Model book    
@{
    Layout = null;
    int index = 1;
}  
@foreach (var page in @Model.chapters[0].pages)
        {
            <div class="page" id="@page.id">

                <div id="frames">
                @foreach (bookChapterPageFrame frame in @Model.chapters[0].pages[0].frames)
                    {
                        <div id="@frame.id" class="droppable">
                            <img id="img@(frame.id)" border="0" width="700" height="95" alt="" src="~/Images/@(frame.bordertype).png" />
                            <div id="listframes">
                                <span>page:@index-</span>

                            </div>
                        </div>
                    } @{ index++; }
                </div>
            </div>
        }