@using BookWriterTool.Helpers
@{
    Layout = null;
}

<div id="expressionsGroup">
    <ul><li><a>Expressions</a>
            <ul><li><a>Animals</a>
                <li><img  id="object1"  src="@GlobalVariables.ConfigResource("ExpressionRes")animals/duck.jpg" border="1" width="25" height="50" alt="" /></li>
        
                <li><img id="object2" alt=""  src="@GlobalVariables.ConfigResource("CharacterRes")animals/croc.jpg" border="1" width="25" height="50" title="MainContent" /></li>
           </li></ul></li> </ul>
</div>
