@using BookWriterTool.Helpers
@{ var frame = (bookChapterPageFrame)this.ViewData["actualFrame"];
    var target = (string)this.ViewData["target"];
    int index = 0;}
@if (frame.contents != null)
{

        

   
    foreach (bookChapterPageFrameContent content in frame.contents)
    {<div class="editPencil"><span class="ui-icon ui-icon-pencil"></span></div>
         <div class="droppable contentIntern" style="background-image: url(@(!String.IsNullOrEmpty(content.background) ? "/Content/Resources/Generic/background/"+@content.background:"../Images/rectangle.png"));">
        @if ((@target == "rectangle"))
        {
            foreach (bookChapterPageFrameContentObject obj in content.objects.Where(obj => obj.type == "character"))
            {
                <img id="Cloned@(index)" style="left: 50%;top: 75%;" class="clonedImg" width="25" height="25" alt="" src="@GlobalVariables.ConfigResource("CharacterRes")@(obj.img)" />
                index++;
            }
            
        }
       </div>
    }
}