@{
    Layout = null;
}
<div id="framesGroup">
    @if (Session["ActualDirectory"] != null)
    {

        <img id="rectangle"  alt="" class="draggable" src="~/Content/Resources/Images/rectangle.png" border="1" width="150" height="137" title="Drag&drop on a content" />

        <img id="square"  alt="" class=" draggable" src="~/Content/Resources/Images/square.png" border="1" width="150" height="137" title="Drag&drop on a content" />
    }
</div>
