@using BookWriterTool.Helpers
@{
    var listOfObjects = (Dictionary<string, string[]>)this.ViewData["listOfObjects"];
    var activeDirectory = "";
    if (Session["ActualDirectory"] != null)
    {
        activeDirectory = (string)this.Session["ActualDirectory"];
    }
}
@if (listOfObjects != null)
{
    if (listOfObjects.Count > 0)
    {

        <div id="objectsGroup">
            <ul>
                <li><a>Objects</a>
                    <ul>
                        <li><a>Animals</a>
                            <ul>
                                @foreach (var aObject in listOfObjects.Where(aObject => aObject.Key == "animals"))
                                {
                                    <li>
                                        @{
                                            var imgs = aObject.Value;
                                            foreach (var image in imgs)
                                            {
                                                <img  src="@image" border="1" width="25" height="50" alt="Click on this to place on page" />
                                            }
                                        } 

                                    </li>
                                }
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div id="characterGroup">
            <ul>
                <li><a>Character2D</a>
                <ul>
                    <li><a>Female</a>
                        <ul>
                            @foreach (var aObject in listOfObjects.Where(aObject => aObject.Key == "female"))
                            {
                                <li>
                                    @{
                                        var imgs = aObject.Value;
                                        foreach (var image in imgs)
                                        {
                                            <img  src="@image" border="1" width="25" height="50" alt="Click on this to place on page" />
                                        }
                                    } 
                                </li>
                            }

                        </ul>
                    </li>
                </ul>
                <ul>
                    <li><a>Male</a>
                        <ul>
                            @foreach (var aObject in listOfObjects.Where(aObject => aObject.Key == "male"))
                            {
                                <li>
                                    @{
                                        var imgs = aObject.Value;
                                        foreach (var image in imgs)
                                        {
                                            <img  src="@image" border="1" width="25" height="50" alt="Click on this to place on page" />
                                        }
                                    } 
                                </li>
                            }

                        </ul>
                    </li>
                </ul>
            </ul>
        </div>
        <div id="expressionGroup">
            <ul>
                <li><a>Expressions</a>
                    <ul>
                        <li><a>emoticons</a>
                            <ul>
                                @foreach (var aObject in listOfObjects.Where(aObject => aObject.Key == "expressions"))
                                {
                                    <li>
                                        @{
                                            var imgs = aObject.Value;
                                            foreach (var image in imgs)
                                            {
                                                <img  src="@image" border="1" width="25" height="50" alt="Click on this to place on page" />
                                            }
                                        } 
                                    </li>
                                }

                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    }
}
<div class="formObjectGroup">
       @if (Session["ActualDirectory"] != null)
       {
           using (Html.BeginForm("UploadObject", "Book", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <br/>

                <label for="file"></label>
                <label>Choose folder to upload an object:</label>
                <select class="ui-widget  ui-corner-all" id="selectedFolder" name="selectedFolder">

                    <option value="@activeDirectory@GlobalVariables.ConfigResource("CharacterRes")animals">Animals</option>

                    <option value="@activeDirectory@GlobalVariables.ConfigResource("CharacterRes")expressions">Expressions</option>

                    <option selected="selected" value="@activeDirectory@GlobalVariables.ConfigResource("Character2DRes")male">Anime Male</option>

                    <option value="@activeDirectory@GlobalVariables.ConfigResource("Character2DRes")female">Anime female</option>

                </select>


                <input class="ui-widget  ui-corner-all" type="file" name="file" id="file" value="Browse" />

                <input class="ui-widget  ui-corner-all" type="submit" />

            }
       }
</div>