@using BookWriterTool.Helpers
@{
    Layout = null;
}
<div id="objectsGroup">
    <img  id="object1" src="@GlobalVariables.ConfigResource("CharacterResource")duck.jpg" border="1" width="150" height="133" alt="" />

    <img id="object2" alt=""  src="@GlobalVariables.ConfigResource("CharacterResource")croc.jpg" border="1" width="150" height="137" title="MainContent" />

</div>
