@using BookWriterTool.Helpers
@model List<bookChapterPageFrameContentObject>
@{
    Layout = null;

    int index = 0;
}


<div id="DialogEditorFrames">
    <div class="FrameEdit" id="FrameEdit">
        <div class="droppable" id="terrain">
            @if (@Model != null)
            {
                if (@Model[0] != null)
                {
                    foreach (bookChapterPageFrameContentObject Object in @Model)
                    {
                        if (@Object.type == "character")
                        {
                            <img  id="ClonedObject@(index)" src="@(GlobalVariables.ConfigResource("CharacterResource"))@(Object.id).jpg" border="1" width="150" height="133" alt="" />
                        }
                        index++;
                    }
                }
            }
        </div>
    </div>
    <div class="objConfigurator">
        <label>Position X</label>
        <input id="posX_txtbox" type="text" />
        <label>Position Y</label>
        <input id="posY_txtbox" type="text" />
    </div>

</div>
