@using BookWriterTool.Helpers
@model List<bookChapterPageFrameContentObject>
@{
    Layout = null;

    int index = 0;
}


<div id="DialogEditorFrames">
    <div class="FrameEdit" id="FrameEdit">
        <div class="droppable" id="terrain">
            @if (@Model != null)
            {
                if (@Model[0] != null)
                {
                    foreach (bookChapterPageFrameContentObject Object in @Model)
                    {
                        if (@Object.type == "character")
                        {
                <img  id="ClonedObject@(index)" src="@(GlobalVariables.ConfigResource("CharacterResource"))@(Object.id).jpg" border="1" width="150" height="133" alt="" />
                        }
                        index++;
                    }
                }
            }
            <div class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" id='context-menu'>
                <ul>
                    <li>Edit</li>
                    <li id="ctxMenuDelete">Delete></li>
                    <li>Export</li>
                </ul>
                <span id="valCtxMenu"></span>
            </div>
        </div>
    </div>
    <div class="objConfigurator">
        <label>Position X</label>
        <input id="posX_txtbox" type="text" />
        <label>Position Y</label>
        <input id="posY_txtbox" type="text" />
        <label>Page Name</label>
        <input id="pageName_txtbox"/>
        <label>Frame name</label>
        <input id="frameName_txtbox"/>
        <label>Target</label>
        <input id="target_txtbox"/>

    </div>

</div>
