@using BookWriterTool.Helpers
@{
    Layout = null;
}
<div id="objectsGroup">
    <img  id="object1" src="@GlobalVariables.ConfigResource("CharacterRes")duck.jpg" border="1" width="75" height="75" alt="" />

    <img id="object2" alt=""  src="@GlobalVariables.ConfigResource("CharacterRes")croc.jpg" border="1" width="75" height="75" title="MainContent" />

</div>
