@{
    Layout = null;
}
<div id="txtCompGroup">


    <img id="txtBox"  alt="" class="draggable" src="~/Content/Resources/Images/newpage.png" border="1" width="100%" height="100px" title="Drag&drop on a content" />
    
    <p class="bubble speech">Talk!!</p>
    <p class="bubble thought">Think!!</p>
    

</div>