@{
    Layout = null;
}
<div id="txtCompGroup">
    @if (Session["ActualDirectory"] != null)
    {

        <img id="txtBox"   src="~/Content/Resources/Images/newpage.png" border="1" width="100%" height="100px" title="Click on this to place on frame." />
        <img class="bubbleText" id="speechTalk"  src="~/Content/Resources/Images/speechTalk.png" border="1" width="100%" height="100px" title="Click on this to place on frame." />
        <img class="bubbleText" id="speechThink"   src="~/Content/Resources/Images/speechThink.png" border="1" width="100%" height="100px" title="Click on this to place on frame." />

    }
</div>