@{
    ViewBag.Title = "Login Failure";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1><br/>
    <h2>Unsuccessful login with service.</h2>
</hgroup>
<section id="loginForm">
       <h2>@ViewBag.Title.</h2><br/>
    <h3>Unsuccessful login with service.</h3>
</section>