.container
{
    max-width: 500px;
    height: 480px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.90);
}

.objConfigurator 
{
    border-bottom-left-radius: 8px;
    border: 1px solid #d19405;
background: #fece2f url(/Content/themes/sunny/images/ui-bg_gloss-wave_60_fece2f_500x100.png) 50% 50% repeat-x;
font-weight: bold;
color: #4c3000;
}

#FrameEdit
{
   border-bottom-left-radius: 8px;
    border: 1px solid #d19405;
background: #fece2f url(/Content/themes/sunny/images/ui-bg_gloss-wave_60_fece2f_500x100.png) 50% 50% repeat-x;
font-weight: bold;
color: #4c3000;
    margin: 0 auto;
}

#FrameEdit #terrain
{
    position: relative;
    height: 500px;
}


#terrain img { 
     position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
}


#panel
{
 
    width: 100%;
   
}

.rightContent
{
    background-color: rgba(255,255,255,0.90);
    position: absolute;
    top: 50px;
    width: 200px;
}
/*Editor delen*/
#ViewChanger {
width: 245px;
position: absolute;
bottom: 0px;
right: 300px;
}
.chapters
{
    background-color: rgba(255,255,255,0.90);
    position: fixed;
    margin: 0px auto;
    top: 50px;
    width: 822px;
  height: 873px;
}

.pages
{
    width: 800px;
    height: 500px;
}

.frames div
{
}

#components
{
    position: relative;
    right: -20px;
    top: 50px;
}

.configDialog
{
    position:fixed;
    top: 0px;
    width: 240px;
}

.configStatus
{
    position:fixed;
    top: 0px;
    width: 240px;
    right: 0px;
}

.contents
{
    position: absolute;
    top: 82px;
    left: 420px;
}

.objects
{
    position: absolute;
    top: 82px;
    left: 420px;
}

/*View delen*/
.chaptersView
{
    background-color: rgba(255,255,255,0.90);
    position: absolute;
    margin: 0px auto;
    top: 50px;
    width: 800px;
}

.pagesView
{
    width: 800px;
    height: 500px;
}

.framesView div
{
    height: 50px;
}

.contentsView
{
    position: absolute;
    width: 760px;
    height: 125px;
    top: 82px;
    left: 20px;
}

.objectsView
{
    position: absolute;
    top: 82px;
    left: 420px;
}
/*Draggable elements*/
#framesGroup .draggable
{
    z-index: 10;
    width: 155px;
    height: 84px;
    padding: 0.5em;
    margin: 10px 10px 10px 0;
}

.frame .droppable
{
    background: black;
    width: 700px;
    height: 162px;
    padding: 0.5em;
    margin: 10px;
}
/*Draggable elements*/
#FrameEdit .draggable
{

    width: 20px;
    height: 20px;
    padding: 0.5em;
  
}

.FrameEdit .droppable
{

    padding: 0.5em;
    margin: 10px;
}

.ui-dialog-titlebar-close
{
   /* visibility: hidden;*/
}

.ui-accordion .ui-accordion-content
{
    height: 390px;
}

.ui-tabs .ui-tabs-panel
{
    padding: 0em 0.4em;
}

.ui-widget-content
{
    color: #ffffff;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr
{
    border-top-right-radius: 45px;
}

#toolbox
{
    width: 200px;
    height: 500px;
    position: absolute;
    top: 228px;
    right: 0px;
}
/*Home page login*/
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    width: 300px;
}

    .form-signin .form-signin-heading,
    .form-signin .checkbox
    {
        margin-bottom: 10px;
    }

    .form-signin .checkbox
    {
        font-weight: normal;
    }

    .form-signin .form-control
    {
        margin: 0 auto;
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .form-signin .form-control:focus
        {
            z-index: 2;
        }

    .form-signin input[type="text"]
    {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .form-signin input[type="password"]
    {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
