body
{
    background-color: black;
    background-image: url('http://fc02.deviantart.net/fs70/f/2011/328/8/8/the_wanderer___color_page_by_genzoman-d3g6d4f.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 700px;
}

.container
{
    max-width: 500px;
    height: 325px;
    margin-top: 100px;
    background-color: rgba(255,255,255,0.90);
}

.leftContent
{
    
  
}

.rightContent
{
        background-color: rgba(255,255,255,0.90);
    position: absolute;
    top: 50px;
    width: 200px;
}
/*Editor delen*/

.chapters
{
 background-color: rgba(255,255,255,0.90);
    position: absolute;
    margin: 0px auto;
    top: 50px;
    width: 800px;
}

.pages
{
    width: 800px;
    height: 500px;
}

.frames div
{
    height: 30px;
}

#components
{
    position: relative;
    right: -20px;
    top: 50px;
}

.contents
{
    position: absolute;
    top: 82px;
    left: 420px;
}

.objects
{
    position: absolute;
    top: 82px;
    left: 420px;
}

/*View delen*/
.chaptersView
{
    background-color: rgba(255,255,255,0.90);
    position: absolute;
    margin: 0px auto;
    top: 50px;
    width: 800px;
}

.pagesView
{
    width: 800px;
    height: 500px;
}

.framesView div
{
    height: 50px;
}

.contentsView
{
    position: absolute;
    width: 760px;
    height: 125px;
    top: 82px;
    left: 20px;
}

.objectsView
{
    position: absolute;
    top: 82px;
    left: 420px;
}
/*Draggable elements*/
.draggable
{
  width: 188px;
height: 84px;
    padding: 0.5em;
    margin: 10px 10px 10px 0;
}

.droppable
{
    width: 700px;
    height: 100px;
    padding: 0.5em;
    margin: 10px;
}
.ui-widget .ui-widget {
    position: absolute;
    right: 0px;

}
.ui-accordion .ui-accordion-content{
    height: 430px;  
}


#toolbox
{
    width: 200px;
    height: 500px;
    position: absolute;
    top: 228px;
    right: 0px;
}
