.container
{
    max-width: 500px;
    height: 480px;
    margin: 0 auto;
    background-color: rgba(255,255,255,0.90);
}

.objConfigurator
{
    border-bottom-left-radius: 8px;
    border: 1px solid #d19405;
    background: #fece2f url(/Content/themes/sunny/images/ui-bg_gloss-wave_60_fece2f_500x100.png) 50% 50% repeat-x;
    font-weight: bold;
    color: #4c3000;
}

#FrameEdit
{
    border-bottom-left-radius: 8px;
    border: 1px solid #d19405;
    font-weight: bold;
    color: #4c3000;
    margin: 0 auto;
}

.Container3D
{
    position: relative;
    width: 200px;
}

.activeControl
{
    visibility: visible;
}

.disableControl
{
    visibility: hidden;
}

.FrameEdit .terrain
{
    position: relative;
}


#terrain img
{
    /* position: absolute;
    top: 0px;
    left: 0px;*/
    height: 100px;
}

.gridster li
{
    background-color: white;
}

img
{
}

#panel
{
    width: 100%;
}

.addBook input
{
    position: relative;
    background-color: transparent;
    width: 100%;
}

.editPencil
{
    float: left;
    position: relative;
    left: 50%;
    background-color: black;
}

p.bubble
{
    position: absolute;
    text-align: center;
    line-height: 100px;
    /*margin: 60px auto;*/
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
}

p.thought
{
    width: 130px;
    line-height: 100px;
    -webkit-border-radius: 108px;
    -moz-border-radius: 108px;
    border-radius: 108px;
}

p.bubble:before, p.bubble:after
{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0;
}

p.speech:before
{
    left: 30px;
    top: 100px;
    border: 25px solid;
    border-color: #666 transparent transparent #666;
}

p.speech:after
{
    left: 38px;
    top: 100px;
    border: 15px solid;
    border-color: #fff transparent transparent #fff;
}

p.thought:before, p.thought:after
{
    left: 10px;
    top: 70px;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border: 8px solid #666;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
}

p.thought:after
{
    width: 20px;
    height: 20px;
    left: 5px;
    top: 100px;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}

.clonedImg
{
    position: relative;
}

.rightContent
{
    background-color: rgba(255,255,255,0.90);
    position: absolute;
    top: 50px;
    width: 200px;
}

.flipped
{
    transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -khtml-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
}

.higlightFrame
{
    border-color: red;
    border-width: 2px;
}

.droppable .GeomForm
{
    width: 100%;
    height: 190px;
}

.droppable .squareLeft
{
    float: left;
    background-repeat: no-repeat;
    border-image: url(Resources/Images/border.png) 25 25 round;
    -webkit-border-image: url(Resources/Images/border.png) 25 25 round; /* Safari 5 and older */
    -o-border-image: url(Resources/Images/border.png) 25 25 round; /* Opera */
    background-position: center center;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    height: 83%;
    width: 47%;
    /*margin-right: 350px;*/
}

.droppable .squareRight
{
    background-position: center center;
    background-repeat: no-repeat;
    border-image: url(Resources/Images/border.png) 25 25 round;
    -webkit-border-image: url(Resources/Images/border.png) 25 25 round;
    -o-border-image: url(Resources/Images/border.png) 25 25 round;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    background-size: 100% auto;
    height: 83%;
    width: 47%;
    float: right;
}

.droppable .rectangle
{
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    border-image: url(/Content/Resources/Images/border.png) 30 30 round;
    -webkit-border-image: url(/Content/Resources/Images/border.png) 30 30 round; /* Safari 5 and older */
    -o-border-image: url(/Content/Resources/Images/border.png) 30 30 round; /* Opera */
    -webkit-background-size: 50% auto;
    -moz-background-size: 50% auto;
    background-size: 50% auto;
    height: 83%;
    width: 98%;
}

.bigText
{
    float: left;
    width: 90%;
    height: 75%;
}
.speechContainer {
      display: inline-block;
    background-image: url(Resources/Images/speechTalk.png);
    background-size: 100% 100%;
    background-repeat:no-repeat;
   min-height: 59px;
min-width: 154px;
    outline: 0;
   padding: 1px 1px 9px 32px;

}
.formObjectGroup input{
    background-color: transparent;
}
.formObjectGroup select {
   background-color: transparent; 
}
.formBackgroundGroup input{
     background-color: transparent;
}
.formBackgroundGroup select{
     background-color: transparent;
}
.smallText
{
    position: relative;
    float: left;
    width: 90%;
    height: 75%;
}
.smallText p {
    font-weight: lighter;

}
.smallText textarea {
    font-weight: lighter;

}
.containerSquare
{
    position: relative;
    width: 50%;
    height: 50%;
}

.chapters
{
    margin: 0px auto;
    top: 83px;
}

.pages
{
    width: 800px;
    height: 500px;
}

.frames div
{
}

#components
{
    position: relative;
    right: -20px;
    top: 50px;
}

.configDialog
{
    position: fixed;
    top: 80px;
    width: 15%;
}

.configStatus
{
    position: fixed;
    top: 80px;
    width: 15%;
    right: 0px;
}

.contents
{
    position: absolute;
    top: 82px;
    left: 420px;
}

.contentIntern
{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
}

.objects
{
    position: absolute;
    top: 82px;
    left: 420px;
}
/*Context menu*/
div#context-menu
{
    position: fixed;
    display: none;
    /*sample style attributes follow*/
    width: 100px;
    background: #fece2f;
    color: #fff;
    font-size: 12px;
}
/*Menu raden*/
/* Clearfix for the menu */
.ui-menu
{
    position: fixed;
    width: 100%;
}

    .ui-menu:after
    {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    .ui-menu .ui-menu-item
    {
        display: inline-block;
        float: left;
        margin: 0;
        padding: 0;
        width: auto;
    }

div#context-menu li
{
    margin: 3px;
    padding: 3px;
    background: #000;
}
/*View delen*/
.chaptersView
{
    background-color: rgba(255,255,255,0.90);
    position: absolute;
    margin: 0px auto;
    top: 50px;
    width: 70%;
}

.pagesView
{
    width: 800px;
    height: 500px;
}

.framesView div
{
    height: 50px;
}

.contentsView
{
    position: absolute;
    width: 760px;
    height: 125px;
    top: 82px;
    left: 20px;
}

.objectsView
{
    position: absolute;
    top: 82px;
    left: 420px;
}
/*Draggable elements*/
#framesGroup .draggable
{
    z-index: 10;
    width: 75%;
    height: 84px;
    padding: 0.5em;
    margin: 10px 10px 10px 0;
}

.frame .droppable
{
    width: 100%;
    height: 100%;
}
/*Draggable elements*/
#FrameEdit .draggable
{
    width: 20px;
    height: 20px;
    padding: 0.5em;
}

.editContent
{
    position: relative;
}

.editContentLeft
{
    position: relative;
    float: left;
}

.editContentRight
{
    position: relative;
    float: right;
}

.ui-dialog-titlebar-close
{
    /* visibility: hidden;*/
}

#chapter1
{
    position: fixed;
    margin: 0 auto;
    left: 17%;
    top: 11%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 2px solid #d19405;
    font-weight: bold;
}

.ui-accordion .ui-accordion-content
{
    height: 390px;
}

.ui-tabs .ui-tabs-panel
{
    padding: 0em 0.4em;
}

.ui-widget-content
{
    color: #ffffff;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr
{
    border-top-right-radius: 45px;
}

#toolbox
{
    width: 200px;
    height: 500px;
    position: absolute;
    top: 228px;
    right: 0px;
}
/*Home page login*/
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    width: 300px;
}

    .form-signin .form-signin-heading,
    .form-signin .checkbox
    {
        margin-bottom: 10px;
    }

    .form-signin .checkbox
    {
        font-weight: normal;
    }

    .form-signin .form-control
    {
        margin: 0 auto;
        position: relative;
        font-size: 16px;
        height: auto;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        .form-signin .form-control:focus
        {
            z-index: 2;
        }

    .form-signin input[type="text"]
    {
        margin-bottom: -1px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .form-signin input[type="password"]
    {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
